@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbars but keep ability to scroll */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
